<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donottouch.twitterlogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".backbone.AddObjectToApp"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P000Menu"></activity>


        <activity android:name=".P001UserTimeline"></activity>

        <activity android:name=".P002HomeTimeline"></activity>

        <activity android:name=".P003UserTimelineRecyclerView"></activity>

        <activity android:name=".P004MentionTimeline"></activity>

        <activity android:name=".P005UserTimeline"></activity>

        <activity android:name=".P006SearchTimeline"></activity>

        <activity android:name=".P007RequestUserEmailAddress"></activity>

        <activity android:name=".P008getStatuesService"></activity>

        <activity android:name=".P009TweetUtilsTweetView"></activity>

        <activity android:name=".P010UsersShow"></activity>

        <activity android:name=".P011UsersSearch"></activity>

        <activity android:name=".P012FollowersListWhatAHellCursor"></activity>

        <activity android:name=".P013FollowersList"></activity>



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="xxx" />
    </application>


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
